.calculator {
  height: 100vh;
  padding: 3em;
  width: 38vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 1em;
}

.btn-primary {
  margin: 2px;
  width: 60px;
  height: 60px;
}

#buttons {
  width: 300px;
}

#displayBox {
  background-color: lightblue;
  margin: 4em;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
}
